* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e6edf6;
}
#nav-toggle {
  display: none;
}
.main-content {
  margin: 0;
}
.container-fluid {
  min-width: 360px;
  width: 100%;
}

.header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: x-large;
  font-weight: 700;
}
.header a span {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: initial;
}

.main {
  border-radius: 0 0 1.25rem 1.25rem;
  background-color: white;
  overflow: hidden;
  padding: 0;
}

.backdrop {
  position: relative;
  top: 0;
  left: 0;
  height: 18.75rem;
}

img.bdbackground {
  overflow: hidden;
  width: 100%;
  height: 18.75rem;
  position: relative;
}

img.bdicon {
  position: relative;
  top: -9rem;
  left: 4rem;
  height: auto;
}

div.bd-classname {
  position: absolute;
  top: 13rem;
  left: 22rem;
  font-weight: bold;
  font-size: 1.5rem;
}

div.bd-classinfo {
  position: absolute;
  top: 16rem;
  left: 22rem;
  font-weight: 500;
  font-size: 1rem;
}

.bd-classinfo > span {
  margin-right: 1rem;
}

.bd-btnreg > button {
  position: absolute;
  background-color: #57ba61;
  color: white;
  border-radius: 1rem;
  font-family: montserrat;
  font-size: small;
  top: 15rem;
  left: 85%;
}

.main {
  padding: 10rem 4rem 4rem 4rem;
}

.menu > a {
  font-family: "Roboto", sans-serif;
  margin-right: 3rem;
}

.menu > a.active {
  border-bottom: solid 0.1875rem #5784ba;
  padding-bottom: 1rem;
  color: #5784ba;
}

.headerdesc {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.contentdesc {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: medium;
}
.contentdesc ul {
  margin-left: 1rem;
}
.contentdesc ul li {
  margin-bottom: 2rem;
}
