* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e6edf6;
}
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: initial;
}
/*sidebar start*/
.sidebar {
  position: fixed;
  flex-direction: column;
  width: 250px;
  left: 1rem;
  top: 1rem;
  bottom: 1rem;
  height: 96%;
  padding: 0;
  background-color: #5784ba;
  border-radius: 20px;
  z-index: 100;
  overflow: auto;
  transition: 300ms;
}
.sidebar-menu ul {
  padding: 0;
}
.sidebar-menu li {
  position: relative;
  width: 100%;
  padding-top: 3rem;
}
.sidebar-menu a {
  display: block;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}
.sidebar-menu a.active {
  background-color: white;
  color: #5784ba;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -2rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.sidebar-menu a.belowactive {
  background-color: #5784ba;
  color: white;
  margin-top: -5rem;
  padding-top: 2rem;
  margin-bottom: -1.3rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.sidebar-menu a span:first-child {
  display: block;
  font-size: 1rem;
  margin-left: 2rem;
}
.icon_notif {
  position: relative;
  width: 30px;
  height: 30px;
  left: 80%;
  margin-top: 1rem;
  cursor: pointer;
}
.img_profile {
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 60px;
  height: 60px;
}
.name {
  position: relative;
  color: white;
  margin-top: 2rem;
  margin-left: 2rem;
}
.onlinestats {
  position: relative;
  color: white;
  font-size: small;
  margin-left: 2rem;
}
.icon_sidemenu {
  position: relative;
  height: 100%;
  margin-right: 2rem;
  width: 25px;
  height: 25px;
}
/*sidebar end*/

.header {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header a span {
  margin-left: 1rem;
}

.main-content {
  position: absolute;
  width: calc(100% - 250px - 4rem);
  margin-left: calc(250px + 2rem);
  margin-right: 2rem;
  min-width: 360px;
  overflow: hidden;
  transition: 300ms;
}

.main {

  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  padding: 0;
}

.backdrop {
  position: relative;
  top: 0;
  left: 0;
  height: 300px;
}

img.backdropimg {
  position: relative;
  width: 100%;
  height: 300px;
}
img.classicon {
  position: relative;
  width: 20%;
  top: -70%;
  left: 4rem;
}

div.classname {
  position: relative;
  top: -140%;
  left: 30%;
  font-weight: bold;
  font-size: 1.5rem;
}

div.classinfo {
  position: relative;
  top: -140%;
  left: 30%;
  font-weight: 500;
  font-size: 1rem;
}

.classinfo > span {
  margin-right: 1rem;
}
.scoretitle {
  position: relative;
  top: -140%;
}
.bdscore {
  position: relative;
  top: -170%;
  left: 85%;
}

.scorebd {
  color: #51e72b;
  font-size: 4rem;
  font-weight: bold;
}
.bdprogress {
  color: #5784ba;
  position: relative;
  top: -150%;
  left: 30%;
}
.progress {
  position: relative;
  width: 65%;
  height: 0.5rem;
  top: -147%;
  left: 30%;
}
.progress-bar {
  width: 80%;
  background-color: #5784ba;
}
.main {
  padding: 4rem;
  padding-top: 9rem;
}
.tab-menu > a {
  font-family: "Roboto", sans-serif;
  margin-right: 3rem;
}

.tab-menu > a.active {
  border-bottom: solid 0.1875rem #5784ba;
  padding-bottom: 1rem;
  color: #5784ba;
}

.classdata {
  font-size: 0.875rem;
  align-items: center;
  background-color: white;
  border-radius: 0.3125rem;
  margin-bottom: 0.2rem;
  height: 4.25rem;
  overflow: hidden;
  padding-left: 2rem;
  /* margin-bottom: 0; */
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}

.completed {
  font-style: italic;
  color: #979797;
}

.score1,
.score2,
.score3,
.score4,
.score5,
.score6 {
  font-size: 1.5rem;
  font-weight: bold;
}
.score1 {
  color: #2be7d0;
}
.score2 {
  color: #e7852b;
}
.score3 {
  color: #e6422b;
}
.score4 {
  color: #2be6ae;
}
.score5 {
  color: #51e72b;
}
.score6 {
  color: #7ee72b;
}
.badge-unfinished > span {
  color: #ba5757;
  font-size: 0.75rem;
  border-radius: 0.9375rem;
  padding: 0.3rem;
  background-color: #edd2d2;
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
  .main-content {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
