@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;1,100;1,500&display=swap");

* {
  font-family: "Kanit", sans-serif;
}
body {
  background-color: #e6edf6;
}
.flex-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
nav {
  display: none;
  background-color: #5784ba;
}

nav img {
  height: 50px;
  padding-left: 1rem;
  color: #fff;
}
/*sidebar start*/
.sidebar {
  flex: 50%;
  position: fixed;
  flex-direction: column;
  left: 1rem;
  top: 1rem;
  bottom: 1rem;
  height: 96%;
  width: 250px;
  padding: 0;
  background-color: #5784ba;
  border-radius: 20px;
  z-index: 100;
  overflow: auto;
  transition: 300ms;
}
#nav-toggle:checked + .sidebar {
  width: 70px;
}
#nav-toggle:checked + .sidebar .hide {
  display: none;
}
#nav-toggle:checked + .sidebar .minalignprof {
  margin-left: 0.3rem;
}
#nav-toggle:checked + .sidebar .minalign {
  margin-left: 1.4rem;
}
#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
  width: calc(70% - 70px);
}
.sidebar-menu ul {
  padding: 0;
}
.sidebar-menu li {
  position: relative;
  width: 100%;
  padding-top: 3rem;
}
.sidebar-menu a {
  display: block;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}
.sidebar-menu a.active {
  background-color: #fff;
  color: #5784ba;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.sidebar-menu a.inactive {
  background-color: #5784ba;
  color: white;
  margin-top: -5rem;
  padding-top: 2rem;
  margin-bottom: -1.3rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.sidebar-menu a span:first-child {
  display: block;
  font-size: 1rem;
  margin-left: 2rem;
}

.icon_notif {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  left: 80%;
  cursor: pointer;
}
.img_profile {
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 60px;
  height: 60px;
}
.name {
  position: relative;
  color: white;
  margin-top: 2rem;
  margin-left: 2rem;
}
.onlinestats {
  position: relative;
  color: white;
  font-size: small;
  margin-left: 2rem;
}
.icon_sidemenu {
  position: relative;
  height: 100%;
  margin-right: 2rem;
  width: 25px;
  height: 25px;
}
/*sidebar end*/

.div2{
  flex:50%;
}
.profile-content {
  margin-left: 2rem;
}
.profile {
  background-image: url(../images/background-profile.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}

.shadow {
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px 20px 0 0;
}

.profile.profile-icon-view {
  width: 12vw;
}

.profile.edit-icon {
  width: 2vw;
  position: relative;
  left: 7vw;
  bottom: 2vh;
}

.profile h4 {
  padding-top: 3vh;
  font-size: 2.5vh;
  color: #fff;
}

.profile-settings {
  padding: 3vw 5vh;
}

.profile-settings .title {
  margin: 0;
  padding-bottom: 4.5vh;
  font-size: 2.4vh;
  font-weight: bold;
}

.setting-option {
  border-bottom: 2px solid #e6edf6;
  padding-bottom: 2vh;
  margin-bottom: 1vh;
}

.setting-option .setting-name .setting-icon,
.setting-option .inside-icon {
  width: 1.5vw;
  height: fit-content;
}

.setting-option .setting-name .setting-icon {
  margin-right: 1.5vw;
}

.setting-option .setting-name p {
  position: relative;
  bottom: 0.5vh;
  margin: 0;
  font-weight: bold;
  font-size: 2vh;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .profile {
    height: 30vh;
  }

  .setting-option .setting-name .setting-icon {
    width: 4vw;
  }

  .setting-option .inside-icon {
    width: 3vw;
  }
}
